.arctic-dash-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.arctic-dash-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.arctic-dash-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.arctic-dash-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.arctic-dash-container1 {
  width: 100%;
  height: 1589px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.arctic-dash-hero {
  width: 100%;
  height: 967px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-end;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.arctic-dash-hero-text-container {
  top: 10%;
  left: 0px;
  width: 609px;
  height: 907px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.arctic-dash-heading {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.arctic-dash-text {
  color: #ffffff;
}
.arctic-dash-hero1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.arctic-dash-container2 {
  display: flex;
  margin-right: 48px;
  padding-right: 48px;
  flex-direction: column;
}
.arctic-dash-link {
  display: contents;
}
.arctic-dash-image {
  top: var(--dl-space-space-tenunits);
  right: 27px;
  width: 25%;
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.arctic-dash-image1 {
  top: 35%;
  right: 27px;
  width: 35%;
  height: auto;
  position: absolute;
  object-fit: cover;
}
.arctic-dash-image2 {
  top: 65%;
  right: 27px;
  width: 35%;
  bottom: 0px;
  height: auto;
  position: absolute;
  object-fit: cover;
}
.arctic-dash-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.arctic-dash-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.arctic-dash-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.arctic-dash-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.arctic-dash-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.arctic-dash-link1 {
  fill: #ffffff;
  color: #ffffff;
}
.arctic-dash-navbar-container {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #2d2d2d;
}
.arctic-dash-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #2d2d2d;
}
.arctic-dash-heading1 {
  color: #ffffff;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.arctic-dash-text34 {
  display: none;
}
.arctic-dash-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.arctic-dash-navlink {
  display: none;
  text-decoration: none;
}
.arctic-dash-navlink1 {
  display: none;
  text-decoration: none;
}
.arctic-dash-link2 {
  color: #ffffff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.arctic-dash-link2:hover {
  color: rgba(255, 255, 255, 0.74);
}
.arctic-dash-link3 {
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
}
.arctic-dash-link3:hover {
  color: rgba(255, 255, 255, 0.74);
}
.arctic-dash-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.arctic-dash-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.arctic-dash-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.arctic-dash-icon2 {
  width: 24px;
  height: 24px;
}
.arctic-dash-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.arctic-dash-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.arctic-dash-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.arctic-dash-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.arctic-dash-text41 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.arctic-dash-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.arctic-dash-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.arctic-dash-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.arctic-dash-text42 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.arctic-dash-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.arctic-dash-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.arctic-dash-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.arctic-dash-icon4 {
  width: 24px;
  height: 24px;
}
.arctic-dash-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.arctic-dash-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.arctic-dash-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.arctic-dash-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .arctic-dash-text34 {
    display: none;
  }
  .arctic-dash-navlink {
    display: none;
  }
  .arctic-dash-navlink1 {
    display: none;
  }
}
@media(max-width: 1200px) {
  .arctic-dash-text34 {
    display: none;
  }
  .arctic-dash-navlink {
    display: none;
  }
  .arctic-dash-navlink1 {
    display: none;
  }
}
@media(max-width: 991px) {
  .arctic-dash-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .arctic-dash-hero-text-container {
    left: 0px;
    width: 410px;
    height: auto;
    align-items: center;
    margin-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .arctic-dash-heading {
    align-self: flex-start;
    text-align: center;
  }
  .arctic-dash-hero1 {
    flex-direction: column;
  }
  .arctic-dash-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .arctic-dash-image {
    width: 35%;
    height: auto;
  }
  .arctic-dash-image1 {
    width: 35%;
    height: auto;
  }
  .arctic-dash-image2 {
    width: 35%;
    height: auto;
  }
  .arctic-dash-navbar-container {
    height: 5%;
  }
  .arctic-dash-heading1 {
    text-align: center;
  }
  .arctic-dash-text34 {
    display: none;
  }
  .arctic-dash-navlink {
    display: none;
  }
  .arctic-dash-navlink1 {
    display: none;
  }
  .arctic-dash-heading2 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .arctic-dash-container1 {
    height: 1718px;
  }
  .arctic-dash-hero {
    height: 1673px;
  }
  .arctic-dash-hero-text-container {
    width: 90%;
    height: auto;
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .arctic-dash-hero1 {
    height: 680px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .arctic-dash-container2 {
    width: 100%;
    height: 617px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .arctic-dash-image {
    top: 55%;
    left: 0px;
    right: 0px;
    width: 50%;
    height: auto;
    position: absolute;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .arctic-dash-image1 {
    top: 52%;
    left: 0px;
    right: 0px;
    width: 50%;
    bottom: 0px;
    height: auto;
    margin: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 0px;
  }
  .arctic-dash-image2 {
    top: 82%;
    left: 0px;
    right: 0px;
    width: 50%;
    bottom: 0px;
    height: auto;
    margin: auto;
    margin-top: auto;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: auto;
  }
  .arctic-dash-navbar {
    position: relative;
  }
  .arctic-dash-text34 {
    display: none;
  }
  .arctic-dash-navlink {
    display: none;
  }
  .arctic-dash-navlink1 {
    display: none;
  }
  .arctic-dash-burger-menu {
    display: none;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .arctic-dash-icon2 {
    fill: #ffffff;
    width: 35px;
    height: 35px;
  }
  .arctic-dash-dropdown-list {
    display: none;
  }
  .arctic-dash-text41 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .arctic-dash-text42 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 479px) {
  .arctic-dash-container1 {
    width: 90%;
    height: 2047px;
  }
  .arctic-dash-hero {
    height: 1816px;
    align-self: center;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    padding-top: 0px;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .arctic-dash-hero-text-container {
    top: 0px;
    right: 24px;
    width: 90%;
    position: absolute;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .arctic-dash-hero1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .arctic-dash-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .arctic-dash-image {
    top: 65%;
    left: 0px;
    right: 0px;
    width: 90%;
    margin: auto;
    position: absolute;
  }
  .arctic-dash-image1 {
    top: 65%;
    left: 0px;
    right: 0px;
    width: 90%;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .arctic-dash-image2 {
    top: 90%;
    left: 0px;
    width: 90%;
    bottom: 66px;
    margin: auto;
    position: absolute;
  }
  .arctic-dash-navbar {
    height: 100%;
  }
  .arctic-dash-heading1 {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.55;
  }
  .arctic-dash-text34 {
    color: #ffffff;
    display: flex;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    margin-right: 0px;
  }
  .arctic-dash-links-container {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .arctic-dash-navlink {
    color: #ffffff;
    display: flex;
    font-style: normal;
    font-weight: 700;
    margin-right: var(--dl-space-space-unit);
  }
  .arctic-dash-navlink1 {
    color: #ffffff;
    display: flex;
    font-style: normal;
    font-weight: 700;
  }
  .arctic-dash-link2 {
    display: none;
    margin-right: var(--dl-space-space-halfunit);
  }
  .arctic-dash-link3 {
    display: none;
  }
  .arctic-dash-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
