.contact-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.contact-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.contact-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.contact-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.contact-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-text {
  color: #ffffff;
  align-self: flex-start;
}
.contact-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.contact-link {
  display: contents;
}
.contact-icon {
  fill: #ffffff;
  width: 91px;
  height: 74px;
  text-decoration: none;
}
.contact-link1 {
  display: contents;
}
.contact-icon02 {
  fill: #ffffff;
  width: 113px;
  height: 71px;
  text-decoration: none;
}
.contact-footer-container {
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.contact-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link2 {
  color: #ffffff;
}
.contact-navbar-container {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #2d2d2d;
}
.contact-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #2d2d2d;
}
.contact-heading {
  color: #ffffff;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.contact-text07 {
  display: none;
}
.contact-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-navlink {
  display: none;
  text-decoration: none;
}
.contact-navlink1 {
  display: none;
  text-decoration: none;
}
.contact-link3 {
  color: #ffffff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contact-link3:hover {
  color: rgba(255, 255, 255, 0.74);
}
.contact-link4 {
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
}
.contact-link4:hover {
  color: rgba(255, 255, 255, 0.74);
}
.contact-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.contact-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.contact-icon06 {
  width: 24px;
  height: 24px;
}
.contact-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.contact-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.contact-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.contact-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.contact-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.contact-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.contact-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.contact-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.contact-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.contact-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-icon08 {
  width: 24px;
  height: 24px;
}
.contact-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-link7 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .contact-text07 {
    display: none;
  }
  .contact-navlink {
    display: none;
  }
  .contact-navlink1 {
    display: none;
  }
}
@media(max-width: 1200px) {
  .contact-text07 {
    display: none;
  }
  .contact-navlink {
    display: none;
  }
  .contact-navlink1 {
    display: none;
  }
}
@media(max-width: 991px) {
  .contact-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .contact-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .contact-text {
    text-align: center;
  }
  .contact-text01 {
    text-align: center;
  }
  .contact-navbar-container {
    height: auto;
  }
  .contact-heading {
    text-align: center;
  }
  .contact-text07 {
    display: none;
  }
  .contact-navlink {
    display: none;
  }
  .contact-navlink1 {
    display: none;
  }
  .contact-heading1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .contact-navbar-container {
    height: auto;
  }
  .contact-navbar {
    position: relative;
  }
  .contact-text07 {
    display: none;
  }
  .contact-navlink {
    display: none;
  }
  .contact-navlink1 {
    display: none;
  }
  .contact-burger-menu {
    display: none;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .contact-icon06 {
    fill: #ffffff;
    width: 35px;
    height: 35px;
  }
  .contact-dropdown-list {
    display: none;
  }
  .contact-text14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .contact-text15 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 479px) {
  .contact-hero-text-container {
    width: 100%;
  }
  .contact-navbar-container {
    height: auto;
  }
  .contact-navbar {
    height: 100%;
  }
  .contact-heading {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.55;
  }
  .contact-text07 {
    color: #ffffff;
    display: flex;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    margin-right: 0px;
  }
  .contact-links-container {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .contact-navlink {
    color: #ffffff;
    display: flex;
    font-style: normal;
    font-weight: 700;
    margin-right: var(--dl-space-space-unit);
  }
  .contact-navlink1 {
    color: #ffffff;
    display: flex;
    font-style: normal;
    font-weight: 700;
  }
  .contact-link3 {
    display: none;
    margin-right: var(--dl-space-space-halfunit);
  }
  .contact-link4 {
    display: none;
  }
  .contact-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
