.unreal-multiplayer-plugin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.unreal-multiplayer-plugin-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.unreal-multiplayer-plugin-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.unreal-multiplayer-plugin-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.unreal-multiplayer-plugin-container1 {
  width: 100%;
  height: 1127px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.unreal-multiplayer-plugin-hero {
  width: 100%;
  height: 967px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-end;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.unreal-multiplayer-plugin-hero-text-container {
  top: 0px;
  left: 24px;
  width: 609px;
  height: 793px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.unreal-multiplayer-plugin-text {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.unreal-multiplayer-plugin-text01 {
  color: #ffffff;
}
.unreal-multiplayer-plugin-link {
  display: contents;
}
.unreal-multiplayer-plugin-icon {
  fill: #ffffff;
  width: 113px;
  height: 71px;
  margin-top: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.unreal-multiplayer-plugin-link1 {
  display: contents;
}
.unreal-multiplayer-plugin-image {
  top: var(--dl-space-space-tripleunit);
  right: 27px;
  width: 35%;
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.unreal-multiplayer-plugin-image1 {
  top: 38%;
  right: 27px;
  width: 35%;
  height: auto;
  position: absolute;
  object-fit: cover;
}
.unreal-multiplayer-plugin-image2 {
  top: 71%;
  right: 27px;
  width: 35%;
  bottom: 0px;
  height: auto;
  position: absolute;
  object-fit: cover;
}
.unreal-multiplayer-plugin-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.unreal-multiplayer-plugin-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.unreal-multiplayer-plugin-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.unreal-multiplayer-plugin-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.unreal-multiplayer-plugin-icon2 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.unreal-multiplayer-plugin-link2 {
  fill: #ffffff;
  color: #ffffff;
}
.unreal-multiplayer-plugin-navbar-container {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #2d2d2d;
}
.unreal-multiplayer-plugin-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #2d2d2d;
}
.unreal-multiplayer-plugin-heading {
  color: #ffffff;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.unreal-multiplayer-plugin-text23 {
  display: none;
}
.unreal-multiplayer-plugin-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.unreal-multiplayer-plugin-navlink {
  display: none;
  text-decoration: none;
}
.unreal-multiplayer-plugin-navlink1 {
  display: none;
  text-decoration: none;
}
.unreal-multiplayer-plugin-link3 {
  color: #ffffff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.unreal-multiplayer-plugin-link3:hover {
  color: rgba(255, 255, 255, 0.74);
}
.unreal-multiplayer-plugin-link4 {
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
}
.unreal-multiplayer-plugin-link4:hover {
  color: rgba(255, 255, 255, 0.74);
}
.unreal-multiplayer-plugin-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.unreal-multiplayer-plugin-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.unreal-multiplayer-plugin-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.unreal-multiplayer-plugin-icon4 {
  width: 24px;
  height: 24px;
}
.unreal-multiplayer-plugin-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.unreal-multiplayer-plugin-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.unreal-multiplayer-plugin-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.unreal-multiplayer-plugin-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.unreal-multiplayer-plugin-text30 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.unreal-multiplayer-plugin-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.unreal-multiplayer-plugin-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.unreal-multiplayer-plugin-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.unreal-multiplayer-plugin-text31 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.unreal-multiplayer-plugin-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.unreal-multiplayer-plugin-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.unreal-multiplayer-plugin-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.unreal-multiplayer-plugin-icon6 {
  width: 24px;
  height: 24px;
}
.unreal-multiplayer-plugin-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.unreal-multiplayer-plugin-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.unreal-multiplayer-plugin-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.unreal-multiplayer-plugin-link7 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .unreal-multiplayer-plugin-text23 {
    display: none;
  }
  .unreal-multiplayer-plugin-navlink {
    display: none;
  }
  .unreal-multiplayer-plugin-navlink1 {
    display: none;
  }
}
@media(max-width: 1200px) {
  .unreal-multiplayer-plugin-text23 {
    display: none;
  }
  .unreal-multiplayer-plugin-navlink {
    display: none;
  }
  .unreal-multiplayer-plugin-navlink1 {
    display: none;
  }
}
@media(max-width: 991px) {
  .unreal-multiplayer-plugin-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .unreal-multiplayer-plugin-hero-text-container {
    left: 0px;
    width: 410px;
    height: auto;
    align-items: center;
    margin-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .unreal-multiplayer-plugin-icon {
    align-self: flex-start;
  }
  .unreal-multiplayer-plugin-image {
    width: 35%;
    height: auto;
  }
  .unreal-multiplayer-plugin-image1 {
    width: 35%;
    height: auto;
  }
  .unreal-multiplayer-plugin-image2 {
    width: 35%;
    height: auto;
  }
  .unreal-multiplayer-plugin-navbar-container {
    height: 5%;
  }
  .unreal-multiplayer-plugin-heading {
    text-align: center;
  }
  .unreal-multiplayer-plugin-text23 {
    display: none;
  }
  .unreal-multiplayer-plugin-navlink {
    display: none;
  }
  .unreal-multiplayer-plugin-navlink1 {
    display: none;
  }
  .unreal-multiplayer-plugin-heading1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .unreal-multiplayer-plugin-container1 {
    height: 1493px;
  }
  .unreal-multiplayer-plugin-hero {
    height: 100%;
  }
  .unreal-multiplayer-plugin-hero-text-container {
    width: 90%;
    height: auto;
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .unreal-multiplayer-plugin-icon {
    align-self: center;
  }
  .unreal-multiplayer-plugin-image {
    top: 48%;
    left: 0px;
    right: 0px;
    width: 50%;
    height: auto;
    margin: auto;
    position: absolute;
    margin-top: 0px;
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .unreal-multiplayer-plugin-image1 {
    top: 65%;
    left: 0px;
    right: 0px;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 0px;
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .unreal-multiplayer-plugin-image2 {
    left: 0px;
    right: 0px;
    width: 50%;
    bottom: 0px;
    height: auto;
    margin: auto;
    margin-top: 0px;
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .unreal-multiplayer-plugin-navbar {
    position: relative;
  }
  .unreal-multiplayer-plugin-text23 {
    display: none;
  }
  .unreal-multiplayer-plugin-navlink {
    display: none;
  }
  .unreal-multiplayer-plugin-navlink1 {
    display: none;
  }
  .unreal-multiplayer-plugin-burger-menu {
    display: none;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .unreal-multiplayer-plugin-icon4 {
    fill: #ffffff;
    width: 35px;
    height: 35px;
  }
  .unreal-multiplayer-plugin-dropdown-list {
    display: none;
  }
  .unreal-multiplayer-plugin-text30 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .unreal-multiplayer-plugin-text31 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 479px) {
  .unreal-multiplayer-plugin-container {
    background-color: #000000;
  }
  .unreal-multiplayer-plugin-container1 {
    width: 90%;
    height: 1855px;
  }
  .unreal-multiplayer-plugin-hero {
    height: 1816px;
    align-self: center;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    padding-top: 0px;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .unreal-multiplayer-plugin-hero-text-container {
    top: 0px;
    right: 24px;
    width: 90%;
    position: absolute;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .unreal-multiplayer-plugin-image {
    top: 50%;
    left: 0px;
    right: 0px;
    width: 90%;
    margin: auto;
    position: absolute;
  }
  .unreal-multiplayer-plugin-image1 {
    top: 65%;
    left: 0px;
    right: 0px;
    width: 90%;
    margin: auto;
    position: absolute;
  }
  .unreal-multiplayer-plugin-image2 {
    top: 70%;
    left: 0px;
    right: 0px;
    width: 90%;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .unreal-multiplayer-plugin-navbar {
    height: 100%;
  }
  .unreal-multiplayer-plugin-heading {
    display: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.55;
  }
  .unreal-multiplayer-plugin-text23 {
    color: #ffffff;
    display: flex;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    margin-right: 0px;
  }
  .unreal-multiplayer-plugin-links-container {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .unreal-multiplayer-plugin-navlink {
    color: #ffffff;
    display: flex;
    font-style: normal;
    font-weight: 700;
    margin-right: var(--dl-space-space-unit);
  }
  .unreal-multiplayer-plugin-navlink1 {
    color: #ffffff;
    display: flex;
    font-style: normal;
    font-weight: 700;
  }
  .unreal-multiplayer-plugin-link3 {
    display: none;
    margin-right: var(--dl-space-space-halfunit);
  }
  .unreal-multiplayer-plugin-link4 {
    display: none;
  }
  .unreal-multiplayer-plugin-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
